<td><%= activity.escape('title') %></td>
<td><%= activity.get('checkpoint') ? "Sim" : "Não" %></td>
<td><%= activity.get('with_ranking') ? "Sim" : "Não" %></td>
<td><%= activity.escape('start_at') %></td>
<td><%= activity.escape('end_at') %></td>
<td><a href="/activities/<%= activity.get("_id") %>" class="show">Ver</a></td>
